@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
header {
  background-color: white;
  width: 100%;
  /* position: relative; */
  /* min-height: 100%; */
}

.logo {
  width: 8vw;
  cursor: pointer;
  position: absolute;
  top: 0.6vw;
  left: 30vh;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 7vh 15vw;
}

nav ul li {
  margin-left: 10vh;
}
nav ul li a {
  text-decoration: none;
  color: rgb(8, 8, 58);
  font-size: 3.1vh;
}
nav ul li select {
  border: none; /* Border */
  background-color: white;
  font-weight: 520;
  /* padding: 10px 10px; */
  font-size: 3vh;
  color: rgb(8, 8, 58);
  cursor: pointer;
}
nav ul li a:hover {
  color: rgb(88, 137, 228);
}
nav ul li select:hover {
  color: rgb(88, 137, 228);
}
.banner {
  width: 100%;
  min-height: 82vh;
  background-image: linear-gradient(
      to bottom,
      rgb(8, 8, 58, 0.5),
      rgb(8, 8, 58, 0.5)
    ),
    url("images/banner_02.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  padding: 10px;
}
.btn-icon {
  background-color: rgb(8, 8, 58);
  border: none;
  padding: 0.4vw 1.1vw;
  border-radius: 10%;
  /* float: left; */
  /* top: 17vw; */
  /* left: 3vw; */
}
.btn-icon:hover {
  cursor: pointer;
}
.a {
  position: relative;
  top: 1vw;
  left: 3vw;
}
.b {
  float: right;
  position: relative;
  top: 1vw;
  left: -3vw;
}
.arrow {
  width: 1vw;
  height: auto;
}

.banner h3 {
  font-weight: 700;
  font-size: x-large;
  padding: 0.4vw 1.5vh;
  color: rgb(65, 98, 161);
}
.banner h1 {
  font-size: 5vw;
  font-weight: 700;
  color: white;
  padding: 0.4vw;
}
.banner h4 {
  font-size: 1.5vw;
  color: white;
  padding: 0.4vw 1.5vh;
}

.child {
  /* border: 1px solid black; */
  width: 40em;
  height: auto;
  position: relative;
  left: 20vh;
  top: 8em;
}
.learn-more {
  padding: 1.4vh 5vh;
  background-color: rgb(8, 8, 58);
  border: none;
  color: white;
  font-size: 1.5vw;
  margin: 0.4vw 1.5vh;
}
.learn-more:hover {
  cursor: pointer;
  color: grey;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* border: 1px solid black; */
}
.container img {
  width: 40%;
  height: auto;
  position: relative;
  left: 11vw;
  top: -2vw;
}
.content {
  width: 28%;
  position: relative;
  left: 9vw;
  top: -2vw;
}
.content h3 {
  font-size: 1.5vw;
  padding: 0 0 0.8vw;
  color: rgb(8, 8, 58);
}
.content h1 {
  font-weight: 700;
  color: rgb(8, 8, 58);
  padding: 0 0 1.1vw 0;
}
.content p {
  padding: 0 0 1.5vw 0;
  color: gray;
  font-weight: 500;
  line-height: 2.5vw;
  /* font-family: appears to be Calibri; */
}
.btn-view {
  padding: 0.7vw 2vw;
  background-color: rgb(8, 8, 58);
  color: white;
  border: none;
  font-size: 1.4vw;
  margin-top: 1.5vw;
}
.btn-view:hover {
  cursor: pointer;
  color: gray;
}
.text h3 {
  text-align: center;
}
.services {
  position: relative;
  top: 21vw;
  right: 40.5vw;
}
.services {
  text-decoration: none;
}
.services h3 {
  color: rgb(8, 8, 58);
}
.services h3:hover {
  color: gray;
}
.container-2 {
  width: 100%;
  height: auto;
  border: 1px solid black;
}
/* .boxes{
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  column-gap: 10px;

  display: flex;
  justify-content: center;

}
.container-2 .boxes img{
  width: 30%;
  height: auto;
} */
.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15vw;
  column-gap: 20px;
  row-gap: 20px;
  width: 90%;
  position: relative;
  top: -15vw;
  left: 5.5vw;
}
.service h2 {
  padding: 2vw;
  text-align: center;
  color: rgb(8, 8, 58);
  font-weight: 700;
}
.servise-item {
  /* background-image: linear-gradient(
    to bottom,
    rgb(8, 8, 58, 0.5),
    rgb(8, 8, 58, 0.5)
  ); */
  background-size: cover;
  background-position: center;
  height: 18vw;

  /* align-items: center; */

  /* display: flex; */
  /* color: white; */
  /* font-size: 1.5vw; */
  /* font-weight: 900; */
}
.servise-item h3 {
  font-weight: 700;
  font-size: 2vw;
  color: white;
  text-align: center;
  padding-top: 3vw;
}

.service-grid img {
  width: 5vw;
  position: relative;
  top: 3vw;
  left: 12vw;
}
.container-3 {
  width: 100%;
  height: 58vh;
  background-color: rgb(16, 16, 76);
  border: 1px solid black;
  position: relative;
  top: -28.5vw;
}
.container-3 h3 {
  color: white;
  text-align: center;
  padding: 3vw;
}
.container-3 h2 {
  color: white;
  text-align: center;
  position: relative;
  top: -1.5vw;
  font-weight: 700;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.logos img {
  width: 13%;
  padding-top: 1vw;
}
.container-4 {
  /* display: flex;
  justify-content: center; */
  position: relative;
  top: -21vw;
}
.search {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  width: 35%;
  margin-left: 33%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search input {
  padding: 1vw 5vw;
  border: none;
}
.search button {
  padding: 1vw 2vw;
  background-color: rgb(8, 8, 58);
  border: none;
  color: white;
  border-radius: 0.3vw;
}
.search img {
  width: 7%;
  height: 10%;
  padding-top: 0.6vw;
  margin-left: 5%;
}
.search button:hover {
  cursor: pointer;
}
footer {
  background-color: rgb(213, 238, 243);
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-top: -27vh;
  color: rgb(8, 8, 58);
  padding: 5vw;
}

.footer-div ul {
  list-style-type: none;
  padding-top: 1vw;
  line-height: 3vw;
}
.footer-div ul li img {
  width: 12%;
  position: relative;
  top: 0.7vw;
}
.footer-div ul li span {
  padding: 0.1vw;
}
.footer-div2 img {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
}
.footer-div2 h2 {
  padding-left: 1.5vw;
}
.para {
  background-color: rgb(213, 238, 243);
  padding: 2vw;
  text-align: center;
  color: rgb(8, 8, 58);
}
footer.para {
  background-color: rgb(213, 238, 243);
}
